DEVICE=vmbridge
NAME=vmbridge
TYPE=Bridge
ONBOOT=yes
BOOTPROTO=static
IPADDR="{{ ansible_default_ipv4.address }}"
NETMASK="{{ ansible_default_ipv4.netmask }}"
GATEWAY="{{ ansible_default_ipv4.gateway }}"
NM_CONTROLLED=no

